
<div class="a">
    <h3>Amigo Cadastrado com sucesso!</h3>
</div>
<br />
<br />
<br />
<p>O que você deseja fazer? Escolha nos botões abaixo:</p>

<br />
<li><a href="/amigos/cadastraramigo" class="btn btn-secondary">Cadastrar outro Amigo</a></li>
<br />
<li><a href="/home/index" class="btn btn-secondary">Retornar ao Menu principal</a></li>
<br />
<li><a href="/amigos/listaramigo" class="btn btn-secondary">Visualizar Lista de Amigos</a></li>

<style>
    div.a {
        text-align: center;
        color: orangered;
    }
</style>